.img-row {
  transform: rotate(-10deg) translate(-20px, -200px);
  width: 500%;
  height: 200%;

  animation: flow 250s linear 0s infinite alternate forwards;
  filter: brightness(0.8) blur(1px);
}

.img-row img {
  --size: 120px;
  margin: 10px;

  width: var(--size);
  height: var(--size);
}

@keyframes flow {
  0% {
    transform: rotate(-10deg) translate(-20px, -200px);
  }
  100% {
    transform: rotate(-10deg) translate(-1620px, -200px);
  }
}

.home-login .dialogue-wrapper {
  width: calc(100%);
  height: calc(100%);

  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

.dialogue-wrapper .dialogue {
  width: calc(100% - 90px);
  height: auto;

  background-color: #6f5d95;
  color: #fff;

  border-radius: 10px;

  padding: 20px;

  background-image: url("../../../public/back.png");
  background-size: cover;
}

.dialogue .button {
  padding: 10px 30px;

  background-color: #fff;
  font-weight: 600;
  color: #000;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
}

.dialogue .button:active {
  transform: scale(0.9);
  filter: brightness(0.8);
}
